@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Handlee&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;700;800&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,900&family=Roboto&family=Satisfy&family=Work+Sans:wght@600;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
/* shared styles */
.section-title {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  padding: 20px;
}
/* header styles */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 30px 150px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 1.8rem;
}
nav ul li a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 1.25rem;
}
.nav-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
/* banner style */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 2rem auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-container img {
  width: 100%;
}

/*Responsive  */
/* Moblile */
@media screen and (max-width: 576px) {
  header {
    padding: 1rem;
  }
  nav {
    flex-direction: column;
    padding: 1rem;
  }
  /* nav > ul {
    flex-direction: column;
  } */
}
/* Medium */
@media screen and (min-width: 577px) and (max-width: 960px) {
  header {
    padding: 2rem;
  }
  nav {
    flex-direction: column;
  }
}
